/* Landing page */
.landing-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}

/* About section */
.about-section {
  max-width: 600px;
  margin: 40px auto;
}

/* Progress section  */
.progress-section {
  margin-top: 60px;
}

.progress-remote {
  margin: 2rem auto;
  max-width: 700px;
}

.progress-remote.markdown-body {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background: #fff;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #d1d5da;
  overflow-x: auto;
}

/* Dark Mode */
.dark-mode .progress-remote.markdown-body {
  background-color: #2d2d2d;
  border-color: #444;
  color: #ddd;
}
